<h1>Complete your profile</h1>

<%= form_for @profile, url: member_profiles_path do |f| %>
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
  <%= f.label :contact_number, "Contact Number:" %>
  <%= f.text_field :contact_number %>
  <%= f.submit("Save") %>
<% end %>
